body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-height: 80vh; /* Adjust this value as needed */
    overflow-y: auto; /* Enables the vertical scrollbar */
}

.table {
    margin-bottom: 0;
}

thead {
    background-color: #f8f9fa;
}

h2 {
    margin-bottom: 20px;
}
