@{
    Layout = "_LeftNavBarLayout";
}

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Certification List</h4>
                    <div class="add-product">
                        <a href="product-edit.html">Add Certification</a>
                    </div>
                    <table>
                        <tr>
                            <th>Type of certificate</th>
                            <th>report number</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Issue date</th>
                            <th>Shape and cutting style</th>
                            <th>Measurements</th>
                            <th>Carat weight</th>
                            <th>Color grade</th>
                            <th>Clarity grade</th>
                            <th>Cut grade</th>
                            <th>Certificate</th>
                        </tr>
                        <tr>
                            <td>GIA</td>
                            <td>6223985137</td>
                            <td><img src="~/image/certi1/1-1.png" alt="Product image" /></td>
                            <td>1.16 Ct Radiant cut H SI2 Loose Diamond</td>
                            <td>June 21, 2023</td>
                            <td>Cut-cornered rectangular modified brilliant</td>
                            <td>6.8 x 5.4 x 3.67 mm</td>
                            <td>1.16 carat</td>
                            <td>H</td>
                            <td>SI2</td>
                            <td></td>
                            <td><a href="~/image/certi1/1-2.png" target=”_blank”>View</a></td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Hide" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>   <!--done1-->
                        <tr>
                             <td>GIA</td>
                            <td>6227343764</td>
                            <td><img src="~/image/certi2/2-1.png" alt="Product image" /></td>
                            <td>0.57 Ct Radiant cut K SI1 Loose Diamond</td>
                            <td>March 22, 2022</td>
                            <td>Cut-cornered square modified brilliant</td>
                            <td>4.74 x 4.73 x 3.27 mm</td>
                            <td>0.57 carat</td>
                            <td>K</td>
                            <td>SI1</td>
                            <td></td>
                            <td><a href="~/image/certi2/2-2.png" target=”_blank”>View</a></td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Hide" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>   <!--done2-->
                        <tr>
                             <td>GIA</td>
                            <td>518137991</td>
                            <td><img src="~/image/certi3/3-1.png" alt="Product image" /></td>
                            <td>0.55 Ct Round cut G VS1 Loose Diamond</td>
                            <td>April 12, 2023</td>
                            <td>Round brilliant</td>
                            <td>5.23 - 5.25 x 3-6 mm</td>
                            <td>0.55 carat</td>
                            <td>G</td>
                            <td>VS1</td>
                            <td>Very good</td>
                            <td><a href="~/image/certi3/3-2.png" target=”_blank”>View</a></td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>   <!--done3-->
                        <tr>
                            <td>GIA</td>
                            <td>2185224490</td>
                            <td><img src="~/image/certi4/4-1.png" alt="Display certificate   " /></td>
                            <td>2.73 Ct Oval cut E I1 Loose Diamond</td>
                            <td>July 11, 2022</td>
                            <td>Oval modified brilliant</td>
                            <td>10.65 x 8.20 x 4.37 mm</td>
                            <td>2.73 carat</td>
                            <td>E</td>
                            <td>I1</td>
                            <td><a href="~/image/certi4/4-2.png" target=”_blank”>View</a></td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>   <!--done4-->
                        <tr>
                            <td>GIA</td>
                            <td>5383527832</td>
                            <td><img src="~/image/certi5/5-1.png" alt="Display certificate   " /></td>
                            <td>1.00 Ct Pear cut D SI1 Loose Diamond</td>
                            <td>June 21, 2023</td>
                            <td>Pear brilliant</td>
                            <td>7.95 x 5.48 x 3.62 mm</td>
                            <td>1.00 carat</td>
                            <td>D</td>
                            <td>SI1</td>
                            <td></td>
                            <td><a href="~/image/certi5/5-2.png" target=”_blank”>View</a></td>
                            <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                            </td>
                        </tr>   <!--done5-->
                        <tr>
                            <td>GIA</td>
                            <td>2225080393</td>
                            <td><img src="~/image/certi6/6-1.png" alt="Display certificate   " /></td>
                            <td>1.40 Ct Emerald cut G VS1 Loose Diamond</td>
                            <td>October 16, 2021</td>
                            <td>Emerald cut</td>
                            <td>10.65 x 8.29 x 4-7mm</td>
                            <td>1.40 carat</td>
                            <td>G</td>
                            <td>VS1</td>
                            <td></td>
                            <td><a href="~/image/certi6/6-2.png" target=”_blank”>View</a></td>
                            <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                            </td>
                        </tr>   <!--done6-->
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>