@{
    Layout = "_LeftNavBarLayout";
}

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Certification List</h4>
                    <div class="add-product">
                        <a href="product-edit.html">Add Certification</a>
                    </div>
                    <table>
                        <tr>
                            <th>Type of certificate</th>
                            <th>report number</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Issue date</th>
                            <th>Shape and cutting style</th>
                            <th>Measurements</th>
                            <th>Carat weight</th>
                            <th>Color grade</th>
                            <th>Clarity grade</th>
                            <th>Cut grade</th>
                            <th>Polish</th>
                            <th>Symmetriy</th>
                            <th>Fluorescence</th>
                            <th>View certificate</th>
                        </tr>
                        <tr>
                            <td>GIA</td>
                            <td>2111485154</td>
                            <td><img src="#" alt="Product image" /></td>
                            <td>1.23 Ct Round cut I SI2</td>
                            <td>March 29, 2023</td>
                            <td>Round brilliant</td>
                            <td>6.87 - 6.91 x 4.24mm</td>
                            <td>1.23 carat</td>
                            <td>I</td>
                            <td>SI2</td>
                            <td>Excellent</td>
                            <td>Excellent</td>
                            <td>Excellent</td>
                            <td>None</td>
                            <td><a href="~/image/"><img src="#" alt="Display certificate" /></a></td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                             <td>GIA</td>
                            <td>2111485154</td>
                            <td><img src="#" alt="Product image" /></td>
                            <td>1.23 Ct Round cut I SI2</td>
                            <td>March 29, 2023</td>
                            <td>Round brilliant</td>
                            <td>6.87 - 6.91 x 4.24mm</td>
                            <td>1.23 carat</td>
                            <td>I</td>
                            <td>SI2</td>
                            <td>Very good</td>
                            <td>Excellent</td>
                            <td>None</td>
                            <td>None</td>
                            <td><a href="~/image/"><img src="#" alt="Display certificate" /></a></td
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                             <td>GIA</td>
                            <td>518137991</td>
                            <td><img src="#" alt="Display certificate   " /></td>
                            <td>0.55 Ct Round cut G VS1 Loose Diamond</td>
                            <td>April 12, 2023</td>
                            <td>Round brilliant</td>
                            <td>5.23 - 5.25 x 3-6mm</td>
                            <td>0.55 carat</td>
                            <td>G</td>
                            <td>VSI1</td>
                            <td>Good</td>
                            <td>Excellent</td>
                            <td>Excellent</td>
                            <td>None</td>
                            <td><a href="~/image/"><img src="#" alt="Display certificate" /></a></td
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                             <td>GIA</td>
                             <td>2185224490</td>
                             <td><img src="#" alt="Display certificate   " /></td>
                            <td>2.73 Ct Oval cut E I1 Loose Diamond</td>
                            <td>July 11, 2022</td>
                            <td>Oval modified brilliant</td>
                            <td>10.65 x 8.29 x 4-7mm</td>
                            <td>0.55 carat</td>
                            <td>G</td>
                            <td>VSI1</td>
                            <td>Good</td>
                            <td>Excellent</td>
                            <td>Excellent</td>
                            <td>None</td>
                            <td><a href="~/image/"><img src="#" alt="Display certificate" /></a></td
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/6-small.jpg" alt="" /></td>
                            <td>Product Title 5</td>
                            <td>
                                <button class="pd-setting">Active</button>
                            </td>
                            <td>30</td>
                            <td>$540</td>
                            <td>Out Of Stock</td>
                            <td>$18</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/7-small.jpg" alt="" /></td>
                            <td>Product Title 6</td>
                            <td>
                                <button class="ps-setting">Paused</button>
                            </td>
                            <td>400</td>
                            <td>$4000</td>
                            <td>In Stock</td>
                            <td>$10</td>
                            <td>
                            <td>
                                <a href="#" data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>

                            </td>
                        </tr>
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>