@{
    Layout = "_LeftNavBarLayout";
}
@*
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Products List</h4>
                    <div class="add-product">
                        <a href="product-edit.html">Add Product</a>
                    </div>
                    <table>
                        <tr>
                            <th>Image</th>
                            <th>Product Title</th>
                            <th>Status</th>
                            <th>Purchases</th>
                            <th>Product sales</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Setting</th>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/5-small.jpg" alt="" /></td>
                            <td>Product Title 1</td>
                            <td>
                                <button class="pd-setting">Active</button>
                            </td>
                            <td>50</td>
                            <td>$750</td>
                            <td>Out Of Stock</td>
                            <td>$15</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/6-small.jpg" alt="" /></td>
                            <td>Product Title 2</td>
                            <td>
                                <button class="ps-setting">Paused</button>
                            </td>
                            <td>60</td>
                            <td>$1020</td>
                            <td>In Stock</td>
                            <td>$17</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/7-small.jpg" alt="" /></td>
                            <td>Product Title 3</td>
                            <td>
                                <button class="ds-setting">Disabled</button>
                            </td>
                            <td>70</td>
                            <td>$1050</td>
                            <td>Low Stock</td>
                            <td>$15</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/5-small.jpg" alt="" /></td>
                            <td>Product Title 4</td>
                            <td>
                                <button class="pd-setting">Active</button>
                            </td>
                            <td>120</td>
                            <td>$1440</td>
                            <td>In Stock</td>
                            <td>$12</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/6-small.jpg" alt="" /></td>
                            <td>Product Title 5</td>
                            <td>
                                <button class="pd-setting">Active</button>
                            </td>
                            <td>30</td>
                            <td>$540</td>
                            <td>Out Of Stock</td>
                            <td>$18</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/7-small.jpg" alt="" /></td>
                            <td>Product Title 6</td>
                            <td>
                                <button class="ps-setting">Paused</button>
                            </td>
                            <td>400</td>
                            <td>$4000</td>
                            <td>In Stock</td>
                            <td>$10</td>
                            <td>
                            <td>
                                <a href="#" data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>

                            </td>
                        </tr>
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .container {
            margin-top: 30px;
        }

        .text-center{
            margin-bottom: 20px;
        }

        .status-available {
            color: green;
            font-weight: bold;
        }

        .status-out-of-stock {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Quản lý sản phẩm</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Tình trạng</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody id="product-list">
                <!-- Product rows will be inserted here by JavaScript -->
            </tbody>
        </table>
    </div>

    <!-- Edit Product Modal -->
    <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProductModalLabel">Chỉnh sửa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-product-form">
                        <input type="hidden" id="edit-product-id">
                        <div class="form-group">
                            <label for="edit-product-name">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="edit-product-name" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-product-price">Giá</label>
                            <input type="number" class="form-control" id="edit-product-price" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-product-quantity">Số lượng</label>
                            <input type="number" class="form-control" id="edit-product-quantity" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-product-status">Tình trạng</label>
                            <select class="form-control" id="edit-product-status" required>
                                <option value="Available">Còn hàng</option>
                                <option value="Out of Stock">Hết hàng</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/productsManagement.js"></script>
</body>
</html>
