@{
    Layout = "_Layout";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Sản Phẩm</title>
    <link href="~/css/braceletsview.css" rel="stylesheet" />
</head>
<body>
    <div class="product-container">
        <div class="product">
            <img src="~ /image/bracelet/1-1.png" alt="Sản phẩm 1">
            <div class="product-info">
                <h3>Bracelet 1</h3>
            </div>
        </div>
        <div class="product">
            <img src="~ /image/bracelet/1-1.png" alt="Sản phẩm 2">
            <div class="product-info">
                <h3>Bracelet 2</h3>
            </div>
        </div>
        <div class="product">
            <img src="~ /image/bracelet/1-1.png" alt="Sản phẩm 3">
            <div class="product-info">
                <h3>Bracelet 3</h3>
            </div>
        </div>
        <div class="product">
            <img src="~ /image/bracelet/1-1.png" alt="Sản phẩm 4">
            <div class="product-info">
                <h3>Bracelet 4</h3>
            </div>
        </div>


        <div class="product">
            <img src="~ /image/bracelet/1-1.png" alt="Sản phẩm 5">
            <div class="product-info">
                <h3>Bracelet 5</h3>
            </div>
        </div>
        <div class="product">
            <img src="~ /image/bracelet/1-1.png" alt="Sản phẩm 6">
            <div class="product-info">
                <h3>Bracelet 6</h3>
            </div>
        </div>
        <div class="product">
            <img src="~ /image/bracelet/1-1.png" alt="Sản phẩm 7">
            <div class="product-info">
                <h3>Bracelet 7</h3>
            </div>
        </div>
        <div class="product">
            <img src="~ /image/bracelet/1-1.png" alt="Sản phẩm 8">
            <div class="product-info">
                <h3>Bracelet 8</h3>
            </div>
        </div>
        <!-- Add more products as needed -->
    </div>

    <!-- page changeing-->
    <div class="pagination">
        <a href="#" class="page">1</a>
        <a href="#" class="page">2</a>
        <a href="#" class="page">3</a>
        <a href="#" class="page">4</a>
        <a href="#" class="page">5</a>
    </div>
    <script src="script.js"></script>
</body>
</html>

