@{
	Layout = "_Layout";
}

<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/jquery.nice-number.css" rel="stylesheet" type="text/css" />
<link href="~/css/slick.css" rel="stylesheet" type="text/css" />
<link href="~/css/style.css" rel="stylesheet" type="text/css" />

<div class="product-wrapper">
    <div class="container">
        <div class="row product-info">
            <div class="col-lg-6">
                <div class="product-img-main-active">
                    <div class="product-img-box">

                        <img class="img-fluid" src="~/image/ring1/1-1.png" alt="">
                    </div>
                    <div class="product-img-box">
                        <img class="img-fluid" src="~/image/ring1/1-2.png" alt="">
                    </div>
                    <div class="product-img-box">
                        <img class="img-fluid" src="~/image/ring1/1-3.png" alt="">
                    </div>
                    <div class="product-img-box">
                        <img class="img-fluid" src="~/image/ring1/1-4.png" alt="">
                    </div>
                    <div class="product-img-box">
                        <img class="img-fluid" src="~/image/ring1/1-5.png" alt="">
                    </div>
                    <div class="product-img-box">
                        <img class="img-fluid" src="~/image/ring1/1-6.png" alt="">
                    </div>
                </div>
                <div class="product-img-mini-active">
                    <img class="img-fluid" src="~/image/ring1/1-1.png" alt="">
                    <img class="img-fluid" src="~/image/ring1/1-2.png" alt="">
                    <img class="img-fluid" src="~/image/ring1/1-3.png" alt="">
                    <img class="img-fluid" src="~/image/ring1/1-4.png" alt="">
                    <img class="img-fluid" src="~/image/ring1/1-5.png" alt="">
                    <img class="img-fluid" src="~/image/ring1/1-6.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-box">
                    <h2>Nhẫn Kim cương Vàng trắng 14K PNJ DDDDW010792</h2>
                    <div class="star-icon">
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </div>
                    <p>200.330.000đ <span>250.330.000đ</span></p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product-spinner mt-30">
                                <input type="number" value="1" min="0">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <a class="product-button mt-30" href="#" style="color: whitesmoke;">
                                <img class="img-fluid" src="~/image/RingDetail/product_card_icon.png" alt=""> Add to cart
                            </a>
                        </div>

                    </div>
                    <div class="social-icon">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                    <div class="line">
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Trọng lượng tham khảo: 12.4562phân

                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Hàm lượng chất liệu: 5850
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Loại đá chính: Kim cương
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Kích thước đá chính (tham khảo): 6.1li
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Màu đá chính: Trắng
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Hình dạng đá: Tròn
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Loại đá phụ: Kim cương
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Màu đá phụ: Trắng
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Số viên đá chính: 1viên
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Số viên đá phụ: 54viên
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Thương hiệu: PNJ
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Color (Màu sắc/ Nước kim cương): E
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Clarity (Độ tinh khiết): SI1
                        </span>
                        <span class="col-md-12 mt-30 d-inline-block" style="color: black;">
                            Cut (Giác cắt/ Hình dạng kim cương): Facet
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="others">
            <h4>Related products</h4>
            <div class="related-product">
                <div class="relatext">
                    <img class="img-fluid" src="~/image/ring8/1.png" alt="">
                    Nhẫn Vàng trắng 12K đính đá
                    <p>5.015.700đ</p>
                </div>
                <div class="relatext">
                    <img class="img-fluid" src="~/image/ring8/2.png" alt="">
                    Nhẫn Vàng trắng 10K đính đá
                    <p>6.463.000đ</p>

                </div>
                <div class="relatext">
                    <img class="img-fluid" src="~/image/ring8/3.png" alt="">
                    Nhẫn Kim cương Vàng trắng 14K
                    <p>109.264.000đ</p>
                </div>
                <div class="relatext">
                    <img class="img-fluid" src="~/image/ring8/4.png" alt="">
                    Nhẫn Kim cương Vàng trắng 14K
                    <p>250.330.000đ</p>
                </div>
                <div class="relatext">
                    <img class="img-fluid" src="~/image/ring8/5.png" alt="">
                    Nhẫn trẻ em Bạc đính đá
                    <p>375.000đ</p>
                </div>
                <div class="relatext">
                    <img class="img-fluid" src="~/image/ring8/6.png" alt="">
                    Nhẫn Kim cương Vàng trắng 14K
                    <p>14.030.000đ</p>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="~/js/jquery-3.4.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.nice-number.js"></script>
<script src="~/js/slick.min.js"></script>
<script>
    $('.product-img-main-active').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        asNavFor: '.product-img-mini-active',
        arrows: true,
        autoplaySpeed: 3000,
        prevArrow: '<button type="button" class="slick-prev"><i class="far fa-arrow-left"></i></button>',
        nextArrow: '<button type="button" class="slick-next"><i class="far fa-arrow-right"></i></button>',
    });
    $('.product-img-mini-active').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.product-img-main-active',
        dots: false,
        centerMode: true,
        focusOnSelect: true,
        arrows: true,
        prevArrow: '<button type="button" class="slick-prev"><i class="far fa-arrow-left"></i></button>',
        nextArrow: '<button type="button" class="slick-next"><i class="far fa-arrow-right"></i></button>',
    });

    // product counter start
    $(function () {
        $('.product-spinner input[type="number"]').niceNumber();

        $('.product-spinner input[type="number"]').on('change', function () {
            if ($(this).val() < 0) {
                $(this).val(1);
            }
        });
    });
</script>

<script>
    $('.related-product').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        prevArrow: '<button type="button" class="slick-prev"><i class="far fa-arrow-left"></i></button>',
        nextArrow: '<button type="button" class="slick-next"><i class="far fa-arrow-right"></i></button>',
    });
</script>