@{
	Layout = "_Layout";
}

<div class="product-grid">
	<!-- Hàng thứ nhất -->
	<div class="product-row">
		<div class="product">
			<img src="~/image/ring1/1-1.png" alt="Product 1">
			<a asp-controller="Products" asp-action="RingDetailView"><h2>Product 1</h2></a>
			<p>$19.99</p>
		</div>
		<div class="product">
			<img src="~/image/ring2/2-1.png" alt="Product 2">
			<h2>Product 2</h2>
			<p>$29.99</p>
		</div>
		<div class="product">
			<img src="~/image/ring1/1-1.png" alt="Product 3">
			<h2>Product 3</h2>
			<p>$39.99</p>
		</div>
		<div class="product">
			<img src="~/image/ring1/1-1.png" alt="Product 4">
			<h2>Product 4</h2>
			<p>$49.99</p>
		</div>
	</div>

	<!-- Hàng thứ hai -->
	<div class="product-row">
		<div class="product">
			<img src="~/image/ring1/1-1.png" alt="Product 5">
			<h2>Product 5</h2>
			<p>$59.99</p>
		</div>
		<div class="product">
			<img src="~/image/ring1/1-1.png" alt="Product 6">
			<h2>Product 6</h2>
			<p>$69.99</p>
		</div>
		<div class="product">
			<img src="~/image/ring1/1-1.png" alt="Product 7">
			<h2>Product 7</h2>
			<p>$79.99</p>
		</div>
		<div class="product">
			<img src="~/image/ring1/1-1.png" alt="Product 8">
			<h2>Product 8</h2>
			<p>$89.99</p>
		</div>
	</div>
</div>

