@{
	Layout = "_Layout";
}
<link href="~/css/About_us.css" rel="stylesheet" type="text/css" />
<div class="aboutus-img">
	<img src="~/image/AboutUs/main img.jpg" alt="">
</div>
<div class="founder row">

	<div class="founder-info col-md-6">
		<h5>Introduction</h5>
		<h2>ABOUT THE FOUNDER</h2>
		<h5>Fusce egestas mi urna, id pulvinar ipsum dictum eget. Mauris in dolor velit.</h5>
		<p>
			Sed ut fringilla dolor. Morbi suscipit a nunc eu finibus. Nam rutrum mattis velit eget volutpat. Fusce
			egestas mi urna, id pulvinar ipsum dictum eget. Mauris in dolor velit. Vestibulum finibus felis non
			massa commodo molestie at id justo. Quisque sollicitudin elit sit amet facilisis euismod. Fusce at arcu
			sed.
		</p>
		<p>Nam rutrum mattis velit eget volutpat. Fusce egestas mi urna, id pulvinar ipsum dictum eget.</p>

	</div>
	<div class="founder-img col-md-6">
		<img src="~/image/AboutUs/ava-founder(resize).jpg" alt="">

	</div>
</div>
<div class="aboutus-center-img ">
	<img src="~/image/AboutUs/bg-03.jpg" alt="">
</div>
<div class="aboutus-center row">

	<div class="aboutus-center-info col-md-6">
		<h5>About us</h5>
		<h2>HOW IT ALL STARTED</h2>
	</div>
	<div class="aboutus-center-img col-md-6">
		<h4>Fusce egestas mi urna, id pulvinar ipsum dictum eget. Mauris in dolor velit.</h4>
		<p>Etiam venenatis mattis mauris, et tempor erat ultricies non.</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus eget enim eget tincidunt. In finibus
			nisi ex, eu interdum urna euismod sit amet. Morbi sollicitudin in magna sed tristique. Nulla pharetra
			sapien eros, sit amet bibendum nibh consectetur quis.
		</p>
		<h6 class="aboutus-center-box-title">
			<span>
				1924 - Established
			</span>
		</h6>
		<p>
			Curabitur ac tortor ut est porta efficitur non sed ante. Donec vel gravida dolor. Donec dictum non elit
			vel congue. Proin at nunc ut velit rutrum ornare. Vivamus elementum congue porta.
		</p>

		<h6 class="aboutus-center-box-title">
			<span>
				1950 - Vivamus Elementum
			</span>
		</h6>
		<p>
			Curabitur ac tortor ut est porta efficitur non sed ante. Donec vel gravida dolor. Donec dictum non elit
			vel congue. Proin at nunc ut velit rutrum ornare. Vivamus elementum congue porta.
		</p>

		<h6 class="aboutus-center-box-title">
			<span>
				1975 - Magnis Parturient
			</span>
		</h6>
		<p>
			Curabitur ac tortor ut est porta efficitur non sed ante. Donec vel gravida dolor. Donec dictum non elit
			vel congue. Proin at nunc ut velit rutrum ornare. Vivamus elementum congue porta.
		</p>

	</div>
</div>