@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}
<div class="header">
    @* Banner will display here  *@
</div>

@* Product Sample will display here *@
<div class="main-content">
    <img id="banner" src="~/image/banner.jpg" alt="" style="width:100%;">
    <div class="content">
        <p>New collection</p>
        <h1>The New Ring Sensation</h1>
        <p>Demo...</p>
        <button>Shop Now</button>
    </div>
    <!-- Brands List -->
    <div class="brand-img">
        <div class="brand-1"><img src="~/image/brand.png" alt=""></div>
        <div class="brand-2"><img src="~/image/brand1.png" alt=""></div>
        <div class="brand-3"><img src="~/image/brand2.png" alt=""></div>
        <div class="brand-4"><img src="~/image/brand3.png" alt=""></div>
    </div>
    <!-- Trending -->
    <div class="trending">
        <section class="product">
            <div class="product-present">
                <p>Popular product</p>
                <h2>TRENDING NOW</h2>
            </div>
            <div class="product-divider"><span class="product-divider-seperator"></span></div>
        </section>
        <section class="image-product">
            <div class="image-product-1"><img src="~/image/sample.jpg" alt=""></div>
            <div class="image-product-1"><img src="~/image/sample1.jpg" alt=""></div>
            <div class="image-product-1 img-product1"><img src="~/image/sample.jpg" alt=""></div>
            <div class="image-product-1"><img src="~/image/sample1.jpg" alt=""></div>
        </section>
        <!-- Product Info -->
        <div class="product-info">
            <ul>
                <li>
                    <a href="#" class="product-name-1">
                        <h2 class="product-title">PRODUCT NAME 1</h2>
                    </a>
                    <span class="price">
                        <del>600$</del>
                        <ins>400$</ins>
                    </span>
                </li>
                <li>
                    <a href="#" class="product-name-2">
                        <h2 class="product-title">PRODUCT NAME 2</h2>
                    </a>
                    <span class="price">
                        <del>600$</del>
                        <ins>400$</ins>
                    </span>
                </li>
                <li>
                    <a href="#" class="product-name-3">
                        <h2 class="product-title">PRODUCT NAME 3</h2>
                    </a>
                    <span class="price">
                        <del>600$</del>
                        <ins>400$</ins>
                    </span>
                </li>
                <li>
                    <a href="#" class="product-name-4">
                        <h2 class="product-title">PRODUCT NAME 4</h2>
                    </a>
                    <span class="price">
                        <del>600$</del>
                        <ins>400$</ins>f
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <!-- Best Seller View -->
    <div class="bestseller">
        <section class="product">
            <div class="product-present">
                <h2>BEST SELLING</h2>
            </div>
            <div class="product-divider"><span class="product-divider-seperator"></span></div>
        </section>
        <section class="image-product">
            <div class="image-product-1"><img src="~/image/earrings1/1-1.png" alt=""></div>
            <div class="image-product-1"><img src="~/image/earrings2/2-1.png" alt=""></div>
            <div class="image-product-1"><img src="~/image/ring1/1-1.png" alt=""></div>
            <div class="image-product-1"><img src="~/image/ring2/2-1.png" alt=""></div>
        </section>
        <div class="product-info">
            <ul>
                <li>
                    <a href="#" class="product-name-1">
                        <h2 class="product-title">PRODUCT NAME 1</h2>
                    </a>
                    <span class="price">
                        <del>600$</del>
                        <ins>400$</ins>
                    </span>
                </li>
                <li>
                    <a href="#" class="product-name-2">
                        <h2 class="product-title">PRODUCT NAME 2</h2>
                    </a>
                    <span class="price">
                        <del>600$</del>
                        <ins>400$</ins>
                    </span>
                </li>
                <li>
                    <a href="#" class="product-name-3">
                        <h2 class="product-title">PRODUCT NAME 3</h2>
                    </a>
                    <span class="price">
                        <del>600$</del>
                        <ins>400$</ins>
                    </span>
                </li>
                <li>
                    <a href="#" class="product-name-4">
                        <h2 class="product-title">PRODUCT NAME 4</h2>
                    </a>
                    <span class="price">
                        <del>600$</del>
                        <ins>400$</ins>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
